<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH Meter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="center">

    <div class="container">
        <div class="meter">
            <div class="outer-circle center">
                <div class="inner-circle">
                    <div class="needle center"></div>
                </div>
            </div>
        </div>

        <div class="label center">
            <span>pH Level = 0</span>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
